<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Events</title>
<link rel="stylesheet" href="../styles/HelloWorldStyles.css" />
</head>

<body>
	<div class="displayDiv">
	<p>mouse x position: </p>
	<p id="mouseX"></p>
	<p>mouse y position: </p>
	<p id="mouseY"></p>
	</div>
	
	<div class="displayDiv">
	<p id="divWithText">
	Let's do that again. Making all those little fluffies that live in the clouds. 
	Don't fight it, use what happens. If it's not what you want - stop and change it. 
	Don't just keep going and expect it will get better.

	You can work and carry-on and put lots of little happy things in here. 
	That's the way I look when I get home late; black and blue. 
	This piece of canvas is your world. 
	Trees live in your fan brush, but you have to scare them out.
	
	It's amazing what you can do with a little love in your heart. 
	We're not trying to teach you a thing to copy. 
	We're just here to teach you a technique, then let you loose into the world. 
	There's not a thing in the world wrong with washing your brush. 
	This is where you take out all your hostilities and frustrations. 
	It's better than kicking the puppy dog around and all that so. 
	You create the dream - then you bring it into your world. 
	Decide where your cloud lives. Maybe he lives right in here.
	
	Nice little clouds playing around in the sky. 
	Now we can begin working on lots of happy little things. 
	That's a son of a gun of a cloud. 
	Clouds are free they come and go as they please. 
	If you do too much it's going to lose its effectiveness. 
	We'll do another happy little painting.
	
	You have to make those little noises or it won't work. 
	Everyone needs a friend. 
	Friends are the most valuable things in the world. 
	Anytime you learn something your time and energy are not wasted.
	
	If you've been in Alaska less than a year you're a Cheechako. 
	Painting should do one thing. 
	It should put happiness in your heart. 
	Every time you practice, you learn more. 
	This is probably the greatest thing that's ever happened in my life. 
	Isn't it great to do something you can't fail at? 
	Let's put some happy trees and bushes back in here.
	
	We tell people sometimes: we're like drug dealers, come into town and get everybody absolutely addicted to painting. 
	It doesn't take much to get you addicted. 
	We don't want to set these clouds on fire. 
	Just go out and talk to a tree. 
	Make friends with it. 
	A big strong tree needs big strong roots. 
	All you have to learn here is how to have fun. 
	Everyone wants to enjoy the good parts - but you have to build the framework first.


	</p>
	</div>
	
	<div id="div3" class="displayDiv">
		<div id="div4" class="displayDiv" onclick="alert('Hello from div4')">
			<div id= "div5" class="displayDiv">
			</div>
		</div>
	</div>
</body>
<script src="../scripts/events.js"></script>
</html>