<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementSystem</display-name>
  <servlet>
    <description></description>
    <servlet-name>GetAllEmployees</servlet-name>
    <servlet-class>com.revature.servlet.GetAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployees</servlet-name>
    <url-pattern>/getAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.revature.servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/uploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingRequestsServlet</display-name>
    <servlet-name>GetPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingRequestsServlet</servlet-name>
    <url-pattern>/getPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResolvedRequestsServlet</display-name>
    <servlet-name>GetResolvedRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResolvedRequestsServlet</servlet-name>
    <url-pattern>/getResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveProfileServlet</display-name>
    <servlet-name>RetrieveProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.RetrieveProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveProfileServlet</servlet-name>
    <url-pattern>/viewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/submitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeWebpageServlet</display-name>
    <servlet-name>ServeWebpageServlet</servlet-name>
    <servlet-class>com.revature.servlet.ServeWebpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeWebpageServlet</servlet-name>
    <url-pattern>/serveWebpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerPortalServlet</display-name>
    <servlet-name>ManagerPortalServlet</servlet-name>
    <servlet-class>com.revature.servlet.ManagerPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerPortalServlet</servlet-name>
    <url-pattern>/managerPortal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPendingRequestsServlet</display-name>
    <servlet-name>GetAllPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetAllPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPendingRequestsServlet</servlet-name>
    <url-pattern>/getAllPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveRequestServlet</display-name>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.ResolveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <url-pattern>/resolveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeHistoryServlet</display-name>
    <servlet-name>GetEmployeeHistoryServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetEmployeeHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeHistoryServlet</servlet-name>
    <url-pattern>/getEmployeeHistory</url-pattern>
  </servlet-mapping>
</web-app>