<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello World</title>
        <link rel="stylesheet" href="../styles/HelloWorldStyles.css" />
    </head>
    <body>

        <div = class="functionDiv">
            <button onclick="counter()">
                E X P A N D N U M B E R
            </button>
        </div>
        <div = class="functionDiv">
            <button onclick="appleCounter()">
                E X P A N D A P P L E
            </button>
        </div>
        <div = class="functionDiv">
            <button onclick="orangeCounter()">
                E X P A N D O R A N G E
            </button>
        </div>

        <br>
        <br>

        <div class="displayDiv" id="bearDive">
            <button onClick="showBears()">
                show me the bears...................
            </button>
        </div>

    </body>
    <script src="../scripts/closure.js"></script>
    <script src="../scripts/parse.js"></script>
</html>